@charset "utf-8";
/* CSS Document */

html, body{
	height:100%;
}

body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
}

.frame{
	width:1000px;
	margin:auto;
	padding:20px;
}

.right{
	width:313px;
	padding:0 0 0 20px;
	float:right;
}

.left{
	width:667px;
	float:left;
}

.v_center{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 300px;
}

.buttons{
	position:relative;
	margin:auto;
	text-align:center;
}

button.big{
	margin: 20px;
	padding: 20px 40px;
	font-size:30px;
	color:white;
	background-color:#090;
	border:thin #030;
	border-radius:8px;
}

#site{
	height:100%;
	position:relative;
}

#header{
	width:100%;
	height:80px;
	float:left;
	padding:0;
	background-color:#1d241a;
	background-image:url(header_bg.jpg);
	background-repeat:repeat-x;
	font-family:"Courier New", Courier, monospace;
	font-size:30px;
	color:#99b8d6;
}

#footer{
	position:absolute;
	width:100%;
	bottom:0;
	padding:0 0 20px 0;
	color:white;
	background-color:#252534;
	background-image:url(footer_bg.jpg);
	background-repeat:repeat;
	box-shadow:0 0 15px rgba(50,50,50,0.75)
}

#main{
	width:100%;
	float:left;
	margin-bottom:20px;
}

#feature{
	width:100%;
	float:left;
	padding:0;
	font-size:35px;
	position:relative;
	background-image:url(feature_bg.jpg);
	background-position:center;
	box-shadow:0 0 15px rgba(50,50,50,0.75)
}

