<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>WinterMood</title>
  <link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
 <div id="container">
  <div id="header">
  	<div class="frame padding10">WinterMood</div>
  </div>
  <div id="main">
    <div id="feature">
	  <div class="frame">
        <div class="left v_center">
          WinterMood is an application that tracks your mood and determines if you are subject to Seasonal Affective Disorder
        </div>
      </div>
	</div>
    <div class="buttons form-style">
      <form>
		<input type="text" name="username" placeholder="Username">
		<input type="email" name="password" placeholder="Password">

	  	<input type="submit" value="Login">
	  </form> 
    </div>
  </div>
  <div id="footer">
	<div class="frame padding10">
      <div class="left">
        &copyWinterMood 2017
      </div>
	  <div class="right">
      	<b>Project created and developed by:</b><br/>
        Vasundhara Gautam<br/>
        Gabriel Faulhaber<br/>
        Dylan Bing-Manners<br/>
        Gavin Xu<br/>
        Mitchell Larson<br/>
      </div>
	</div>
  </div>
 </div>
</body>
</html>
