
<% noun =
        if (current_user.username == @user.username)
          "Your"
        else
          "User's"
        end
  %>

<p>
  <strong><%=noun%> username is:</strong>
  <%= @user.username %>
</p>

<p>
  <strong><%=noun%> mood data will display here.</strong>
</p>
