// Place all the styles related to the dataentry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.range_display {
  width: 40px;
  vertical-align: top;
  display: inline-block;
}

.range {
  margin: 0;
  width: 80%;
  vertical-align: top;
}
